@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;

}

#title {
    background: yellow;
    /*add CSS here*/
    
    padding: 25px 40px;
    margin: 30px;
    
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    padding-right:40px;
    padding-left:40px;
    margin: 30px;
    

    
}

.topic {
    background: lightgray;
    /*add CSS here*/
   padding: 5px;
  margin: 50px;
  display:inline;
   
}

