@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
   

}

#title {
    background: yellow;
    /*add CSS here*/
    
    margin: 10px 200px 10px 200px;
    padding-left: 10px;
    padding-right: 10px;
    
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    
    margin: 35px 200px 35px 200px;
    padding-left: 100px;
    padding-right:100px;
    

    
}

.topic {
    background: lightgray;
    /*add CSS here*/

  margin: 50px;
  display:inline;
   
}

