@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
   

}

#title {
    background: yellow;
    /*add CSS here*/
    
    margin: 5px 190px 5px 190px;
    padding-left: 10px;
    padding-right: 10px;
    
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    
    margin: 33px 197px 33px 197px;
    padding-left: 90px;
    padding-right:90px;
    

    
}

.topic {
    background: lightgray;
    /*add CSS here*/

  margin: 20px 40px;
  display:inline;
   
}

